<footer>
    <div class="footer-links"></div>
    <a href="https://github.com/GokulBakkiyarasu"><i class="fa-brands fa-github"></i></a>
    <a href="https://www.instagram.com/__gokul__03_/"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/gokul-bakkiyarasu-531535251/"><i class="fa-brands fa-linkedin"></i></a>
</footer>