body {
    margin: 0;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* navbar */
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
    /* margin-bottom: 20px; */
}

nav img {
    width: 250px;
    height: 100px;
}

nav input {
    margin-top: 20px;
    margin-right: 10px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #a19ea3;
    padding-left: 10px;
    outline: none;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

nav input:hover {
    box-shadow: 0 0 0 .25rem rgba(3, 105, 167, .25);
    border-color: #86b7fe;
}

nav input:focus {
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
    border-color: #86b7fe;
}

nav button {
    margin-right: 20px;
    font-weight: lighter;
    background-color: white;
    height: 42px;
    border: 1px solid #ff7e68;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.6);
}

nav button:hover {
    background-color: #ff7e68;
    color: white;
}

.admin-login{
    text-decoration: none;
    color: white;
    background-color: #ff7e68;
    height: 20px;
    width: 88px;
    padding: 10px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 25px;
    text-align: center;
}

/* footer */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8F8FF;
    height: 50px;
    margin-top: auto;
}

footer a {
    text-decoration: none;
    color: #a19ea3;
    margin-left: 20px;
}

footer a:hover {
    color: #ff7e68;
}

footer a i {
    font-size: 25px;
}

.brief-book-img{
    float: left;
}

.book-details{
    display: flex;
    flex-direction: column;
    margin-left: 370px;
    margin-top: 20px;
}

.notes{
    margin-top: 20px;
    margin-left: 20px;
}

.notes h2{
    text-decoration: underline;
}

@media (max-width: 800px){
    .brief-book-img {
        float: none;
        margin-left: 20px;
    }
    .book-details {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        margin-top: 20px;
    }
}